@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

:root {
    --dark-red: #cf121e;
    --red: #ff3542;
    --light-red: #ffe1e1;
    --dark-green: #005743;
    --green: #538e7a;
    --light-green: #92d279;
    --white: #ffffff;
    --black: #000000;
    --gray: #d9d9d9;
    font-family: 'Noto Sans TC', sans-serif;
}

.drinksPicture {
    position: absolute;
    top: 115px;
    left: 5%;
    width: 350px;
    height: 400px;
    background: rgb(255, 225, 225);
    background: radial-gradient(circle, rgba(255, 225, 225, 1) 55%, rgba(146, 210, 121, 1) 100%);
    border: 4px dashed var(--green);
}

.drinksPicture>img {
    padding-left: 15px;
    padding-top: 10px;
    width: 300px;
    height: 100%;
}

.topping_content {
    list-style-type: none;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    /* background-color: ver(--light-red);
    border: 4px dashed ver(--light-red);
    border-radius: 20px 90px 90px 20px; */
}

.topping_title {
    position: absolute;
    padding-bottom: 20px;
    padding-top: 10px;
}

.toppingText {
    display: inline-block;
    justify-content: space-between;
    writing-mode: vertical-lr;
}

/* 系列字樣範圍 */
.milkTea_title_area {
    background: radial-gradient(50% 50% at 50% 50%, rgba(146, 210, 121, 0.9) 68.89%, rgba(251, 224, 221, 0.0315469) 99.99%, rgba(255, 225, 225, 0) 100%);
    border-radius: 30%;
    position: absolute;
    top: 120px;
    left: 700px;
    height: 70px;
    width: 300px;
    text-align: center;
}

/* 系列字樣 */
.milkTea_titles {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 2px;
    color: var(--dark-green);
}

.drinks_menu {
    position: absolute;
    top: -10px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center; 
    writing-mode: vertical-lr;

}

.cell_drinkList {
    position: absolute;
    top: 200px;
    left: 800px;
}

.cell_drink_title {
    position: absolute;
}

.cell_line {
    height: 80px;
    width: 50px;
    background-image: url(../images/story/about_us_images/green_short_straight_line.png);
    background-repeat: no-repeat;
}

.cell_drink_note {
    padding-top: 90px;
    padding-right: 0px;
    height: 420px;
}

.cell_2 {
    position: absolute;
    writing-mode: vertical-lr;
    /* top: 50px;
    left: 280px */
    padding-top: 20px;
}


.cell_drink_title {
    position: absolute;
}

.cell_line {
    height: 80px;
    width: 50px;
    background-image: url(../images/story/about_us_images/green_short_straight_line.png);
    background-repeat: no-repeat;
}

.cell_drink_note {
    padding-top: 90px;
    padding-right: 0px;
    height: 420px;
}

/* 茗品系列btn */
.teaSerious {
    position: absolute;
    top: 150px;
    right: 60px;
    width: 100px;
    height: 100px;
    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #92D279 0%, rgba(146, 210, 121, 0) 100%);
}

/* 鮮奶/拿鐵系列btn */
.milkteaSerious {
    position: absolute;
    top: 500px;
    right: 60px;
    width: 100px;
    height: 100px;
    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #92D279 0%, rgba(146, 210, 121, 0) 100%);
}


/* 全部飲品btn */
.AllDriksButton {
    text-align: center;
    padding-top: 550px;
}

.AllDriksButton :not(:first-child) {
    margin-left: 20px;
}

.Button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #005743;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #92D279;
    background-color: #ffffff;
}

.Button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #92D279;
    box-shadow: 4px 5px 17px -4px #538E7A;
}

.Button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 87, 67, 90%);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.Button:hover::before {
    width: 250%;
}