@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

:root {
    --dark-red: #cf121e;
    --red: #ff3542;
    --light-red: #ffe1e1;
    --dark-green: #005743;
    --green: #538e7a;
    --light-green: #92d279;
    --white: #ffffff;
    --black: #000000;
    --gray: #d9d9d9;
    font-family: "Noto Sans TC";
    color: #FFFFFF;
    background-color: #005743;
}


a {
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* max-width: 1440px; */
}

/* section {
    background-color: #005743;
} */

ul {
    list-style-type: none;
    margin: 0px;
}

img {
    /* overflow-clip-margin: content-box; */
    overflow: clip;
    height: 100%;
}

.btn {
    /* width: 100px; */
    height: 30px;
    background-color: #fff;
    border-radius: 99em;
    color: #538e7a;
    padding: 5px 20px;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

.btn2 {
    width: 100px;
    height: 50px;
    background-color: #538E7A;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    margin: 30px 50px;
    font-weight: 500;
    font-size: 16px;
}

.btnL:active {
    transform: scale(1.1);
    background-color: var(--white);
}

.btnL {
    /* width: 40%; */
    position: relative;
    /* margin: auto; */
    padding: 0.5em 5em 0.5em 5em;
    border: none;
    background: var(--white);
    transition: all 0.1s linear;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.244);
    margin-top: 10px;
}

.btnL span {
    font-size: 24px;
    color: var(--dark-green);
    font-weight: 600;
}

.btnL .border {
    position: absolute;
    border: 0.45em solid var(--white);
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.btnL:hover .border {
    display: block;
    width: 105%;
    height: 120%;
}

.btnR {
    border-radius: 3em;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #005743;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #92D279;
    background-color: #ffffff;
}

.button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #92D279;
    box-shadow: 4px 5px 17px -4px #538E7A;
}

.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 87, 67, 90%);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.button:hover::before {
    width: 250%;
}

.nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: #005743;
    padding-top: 10px;
}

.topnav {
    background-color: #005743;
    overflow: hidden;
}

.topnav-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 10px;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}


.topnav a:hover {
    color: #92D279;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navIcon {
    display: none;
}
.navIcon:hover {
    color: #92D279;
    cursor: pointer;
}

.navLogin {
    display: flex;
    margin-right: 40px;
}

.navLogin-a {
    color: #fff;
    margin-left: 20px;
}
.navLogin-a:hover{
    color: #92D279;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .topnav .nav-t{
        display: none;
    }

    .topnav .navIcon {
        float: right;
        display: block;
    }
    .navLogin{
        float: right;
        display: flex;
        margin-right: 100px;
        padding: 0;
    }
    .navIcon{
        margin-top: 30px;
        margin-right: 20px;
        font-size: 24px;
    }
    
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {

    .topnav-img  {
        position: relative;
    }

    .topnav{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #538E7A;
    }
 .navIcon{
        position: absolute;
        right: 0;
        top: 0;

    }
  
    .topnav.responsive .nav-t {
        float: none;
        display: block;
        text-align: left;
    }

}


#home {
    display: flex;
    width: 100%;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    z-index: 3;
}

@media (max-width:768px) {

    .navMain {
        height: 60px;
    }

    .navLogo {
        width: 50px;
        height: 50px;
    }



    .navIcon {
        float: right;
        display: block;
        margin-right: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navMain div:not(:first-child) {
        position: relative;
    }

    .nav-t {
        display: none;
    }

    .navIcon {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-t.responsive {
        float: inline-start;
        display: block;
        text-align: left;
        height: 100px;
    }

}


@media(max-width:768px) {
    #home {
        padding: 30px 0 40px;
    }
}



.homeDiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 450px;
}

.homeDiv2 {
    display: block;
    width: 70%;
    overflow: hidden;
}

.homeList {
    display: flex;
    width: 100%;
}

.homeItem {
    display: flex;
    flex-shrink: 0;
    width: 400px;
    height: 500px;
    padding-right: 15px;

}

.homeItem-img {
    width: 400px;
    height: auto;
    text-align: center;
    background-position: center center;
}


#about {
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}

.aboutDiv {
    /* width: 100%; */
    margin: 0 auto;
    padding: 0 50px;
}

.aboutBg {
    width: 100%;
    height: 500px;
    padding-top: 40px;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/home/scene_matcha.png');
}

.aboutMain {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    top: 0;
    left: 50px;
}

.aboutCenter {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 200px 0;
    text-align: center;
}


.aboutText {
    /* width: 100%; */
    position: relative;
    width: 500px;
    padding: 40px 50px 40px;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
}


.aboutText-p {
    width: 100%;
    color: #538E7A;
    font-weight: 500;
    line-height: 2.2;
    word-wrap: break-word;
    font-size: 24px;
    text-align: flex-start;
}

@media (max-width : 768px) {
    .aboutCenter {
        padding: 150px 50px 100px 50px;
    }

    .aboutText {
        width: 300px;
    }

    .aboutText-p {
        font-size: 16px;
    }
}


#menuBg {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

.menuBgImg {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/home/bn_menu.png');
}

.menuBgImg:hover {
    height: 420px;
    top: -20px;
}

#menu {
    width: 100%;
    margin: 0 auto 100px;
    text-align: center;
    padding: auto;

}

.menuMain {
    width: 1240px;
    text-align: center;
}


.menuUl {
    width: 80%;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    justify-content: space-between;
}

.menuLi {
    position: relative;
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    /* margin-right: 70px; */

}

/* li.menuLi:nth-child(1):hover {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
    /* transition: cubic-bezier(0.41,1.69,0.64,1); */
/* transition-timing-function: ease-in-out; */
/* } */

/* li.menuLi:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition: 1.5s; */
/* transition: cubic-bezier(0.41,1.69,0.64,1); */
/* transition-timing-function: ease-in-out; */
/* } */

/* li.menuLi:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition: 2s;
    /* transition: cubic-bezier(0.41,1.69,0.64,1); */
/* transition-timing-function: ease-in-out;
}  */

.menuLi-div {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.menuLi-Text {
    font-weight: 600;
    /* padding: 30 auto; */
    text-align: center;
    color: #000000;
}

@media (max-width:768px) {
    .menuMain {
        text-align: center;
    }

    .menuUl {
        display: block;
        text-align: center;
        padding: 0px;
    }

    .menuLi {
        width: 400px;
        margin: 0 0 20px 0;

    }

    .menuLi-div>img {
        width: 400px;
    }
}

#news {
    width: 100%;
    position: relative;
    height: 400px;
    padding: 50px 0;
    /* margin-bottom: 100px; */
}

.newsBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url('../images/home/hero_bg_1.jpg');
    background-position: center center;
    background-size: cover;
    filter: blur(20px);
    opacity: 0.8;
    justify-content: space-between;
}


.newsMain {
    display: flex;
    /* width: 70%; */
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 50px;
    z-index: 2;
}

.newsText {
    position: relative;
    width: 50%;
    padding: 10px 50px;
    align-items: center;
    margin-bottom: 50px;
}

.newsDiv {
    word-wrap: break-word;

}

.newsImg {
    /* width: 40%; */
    width: 500px;
    height: 600px;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
}

@media (max-width:768px) {
    #news {
        height: 800px;
    }

    .newsMain {
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }

    .newsImg {
        width: 600px;
        height: 400px;
    }

    .newsDiv {
        text-align: center;
    }
}


#product {
    width: 100%;
    margin-bottom: 100px;
    background-color: #538E7A;
    overflow: hidden;
}

.productMain {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 100px;
    margin: 50px auto;
}

.productMain-d {
    width: 50%;
    display: flex;
    margin-top: 50px;
}

.productMain-div {
    width: 400px;
    position: relative;
    max-height: 500px;
    /* padding: 100px; */
    overflow: hidden;
    transform: rotate(-20deg);
}

.productMain-div2 {
    position: absolute;
    width: 400px;
    max-height: 500px;
    /* padding: 100px; */
    overflow: hidden;
    transform: rotate(20deg);
}

.productMain-div3 {
    position: absolute;
    width: 400px;
    max-height: 500px;
    /* padding: 100px; */
    overflow: hidden;
    transform: translateY(-20px);
}

.productMain-img {
    width: 900%;
}

.product-T {
    width: 50%;
}

.productText {
    right: 0;
    margin-right: 50%;
    margin-top: 100px;
    padding: 20px 50px;
    width: 50%;
    align-items: center;
    background-color: #538e7a;
    border: 10px solid #92d279;
    border-radius: 100px;
    color: #fff;
}

@media (max-width :768px) {
    #product {
        text-align: center;
    }

    .productMain {
        display: block;
        word-wrap: break-word;

    }

    .productMain-d {
        text-align: center;
        width: 100%;
        padding: 20px 50px;
        margin-left: 20px;
    }

    .productMain-img {
        width: 400%;
    }

    .productMain-div {
        position: absolute;
    }

    .product-T {
        margin-top: 500px;
        text-align: center;
    }

    .productText {
        width: 100%;
        margin-left: -0;
        padding: 30px 60px;
    }
}

#store {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 200px;
    align-items: center;
}

.storeBg {
    position: relative;
    overflow: hidden;
    width: 50%;
    max-width: 1240px;
    height: 700px;
    margin: 0 auto;
    left: -200px;
}

.storeBg-div {
    position: relative;
    width: 100%;
    height: calc(100% + 200px);
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/home/banner_down.jpg');
}

.storeMain {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 20%;
    left: 55%;
    z-index: 2;
    color: #538E7A;
    padding: 20px 50px;
    background-color: #fff;
}


.storeText {
    max-width: 1240px;
    padding: 20px 50px;
}

.storeText-div {
    border-radius: 10px;
    /* background-color: #fff; */
}

@media (max-width: 768px) {
    #store {
        text-align: center;
    }

    .storeBg {
        width: 100%;
        left: 0;
        opacity: 0.5;
        padding: 20px 50px;
    }

    .storeMain {
        width: 50%;
        position: absolute;
        left: 100px;
        text-align: center;
    }


    .storeText {
        width: 50%;
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #92d279;
    background-color: #005743;
    /* padding: 10px 50px 20px 50px; */
    border-top: 2px solid #d9d9d9;
    /* margin-bottom: 20px; */
}

.footerLogo {
    width: 100px;
    height: 50px;
    margin-left: 30px;

}

.footerMain {
    display: flex;
    margin: 10px 20px;
}


.footerFb {
    width: 20px;
    height: 40px;
    border-radius: 99em;
    border: 2px solid #92d279;
    padding: 5px 10px 0 10px;
    margin: 0 5px;
}

.footerIg {
    width: 20px;
    height: 40px;
    border-radius: 99em;
    border: 2px solid #92d279;
    padding: 5px 10px 0 10px;
    margin: 0 5px;
}

.footerAddress {
    display: block;
    word-wrap: break-word;
    text-align: flex-start;
    margin-right: 30px
}

/* member */
#data {
    width: 100%;
    /* height: 1000px; */
    background-color: #fff;
}

.dataBg {
    width: 100%;
    height: 150px;
    background-image: url('../images/home/data_bg.jpg');
}

.dataDiv {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.dataMenu {
    width: 20%;
    /* height: 1000px; */
    padding: 220px 60px;
    text-align: center;
    align-items: center;
    background-color: #005743;
    margin-bottom: 300px;
}

.dataMenu-d {
    display: block;
    margin-bottom: 20px;
    color: #538E7A;
}

.dataMenu-d>a {
    color: #538E7A;
}

.dataMenu-d:checked {
    color: #005743;
}



.dataImg {
    width: 80%;
    display: flex;
    background-color: #fff;
    padding: 50px 50px;
    margin: auto;
}

.dataImg-d {
    width: 400px;
    /* height: 600px; */
    padding: 0px 0 0 0;
    text-align: center;
    display: block;
    /* margin: auto; */
}

.data-M-img {
    width: 200px;
    height: 200px;
    border: 3px solid #92d279;
    border-radius: 99em;
    color: #538E7A;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    margin: 0 auto 20px;
}

.memberForm-T {
    width: 50%;
    padding: 0px 0px 50px 0px;
    /* text-align: center; */
}

.memberForm-d {
    display: flex;
}

.memberForm-dd {
    margin-right: 20px;
}

.memberForm-D {
    padding: 0 20px;
    margin: 20px 0;
    text-align: flex-start;
}

@media (max-width:768px) {
    .dataDiv {
        display: block;
        text-align: center;
    }

    .dataMenu {
        width: 80%;
        display: flex;
        margin: 0;
        padding: 100px 0px 20px 140px;
        text-align: center;
    }

    .dataImg {
        width: auto;
        display: block;
        padding: 20px 20px 20px 70px;
    }

    .dataMenu-d {
        width: 15%;
        margin-right: 30px;
    }
}

@media (max-width:768px) {
    .dataImg-d {
        /* width: 50%; */
        padding: 20px 30px;
        margin-bottom: 20px;
    }

    .memberForm-T {
        background-color: #538E7A;
        width: 70%;
        padding: 20px 10px 20px 30px;
        color: #000000;

    }

    .memberForm-d {
        display: block;
        padding-left: 80px;

    }

    .memberForm-D {
        padding-left: 140px;
    }

}

.dataUpdate {
    width: 200px;
    height: 50px;
    background-color: #538e7a;
    padding: 2px 10px;
    text-align: center;

}

.dataForm {
    width: 80%;
    padding: 0px 200px;
}

form {
    color: #005743;
    font-size: 24px;
    text-align: left;
}

label {
    padding: 0 0 0 10px;
}


input {
    width: 200px;
    height: 30px;
    border: 3px solid #92d279;
    margin: 10px;
    border-radius: 99em;
}

input:focus {
    outline: none;
}


input[type="text"]:focus {
    background-color: #ffe1e1;
    border: 3px solid #538E7A;
}

input[type="tel"]:focus {
    background-color: #ffe1e1;
    border: 3px solid #538E7A;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
    /* border: 10px solid #92d279; */

}

input[type="email"]:focus {
    background-color: #ffe1e1;
    border: 3px solid #538E7A;
}

.gender {
    display: flex;
    /* width: 500px; */
    /* text-align: center; */
    /* padding-left: 150px; */
}

.orderList-main {
    width: 80%;
    padding: 20px;
    text-align: center;
}

.orderList-top {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0px 50px;

}


.orderList-c {
    background-color: #fff;
    width: 300px;
    height: 45px;
    margin: 20px 20px 0 20px;
    padding: 5px 20px;
    align-items: center;
    font-size: 24px;
    border-radius: 99em;
    border: 3px solid var(--dark-red);
    color: var(--dark-red);
}

.orderList-c:hover {
    background-color: var(--dark-red);
    color: #fff;
}

.orderList-c:checked {
    background-color: var(--dark-red);
    color: #fff;
}

.orderList-content {
    background-color: #cf121e;
}

.orderList-item {
    width: 70%;
    height: 300px;
    text-align: center;
    padding: 50px 60px;
    color: #000000;
    background-color: #d9d9d9;
    border: 3px solid var(--light-red);
    display: flex;
}

.orderList-number {
    width: 300px;
    height: 300px;
    text-align: flex-start;
    background-color: var(--light-green);
    border-radius: 10px;
    margin-right: 30px;
}

.orderList-number-t {
    border-radius: 10px 10px 0 0;
    text-align: flex-start;
    padding: 5px 15px;
    background-color: #005743;
    color: #fff;
}

.orderList-number-p {
    text-align: flex-start;
    padding: 5px 15px;
}

.orderList-number-b {
    background-color: #fff;
    text-align: flex-end;
    padding: 2px 15px;
    color: var(--dark-green);
    border-radius: 0 0 10px 10px;
}

.orderlist-page {
    display: flex;
}

.orderlist-page-btn {
    width: 30px;
    height: 30px;
    /* border: 3px solid var(--dark-red); */
    color: var(--dark-red);
    border-radius: 99em;
    background-color: var(--light-red);
    border: none;
    margin: 10px;
}

.orderlist-page-btn:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.orderlist-page-btn:checked {
    background-color: var(--dark-red);
    color: var(--white);
}

@media (max-width:768px) {
    .orderList-main {
        margin: auto;
    }

    .orderList-c {
        width: 200px;
    }

    .orderList-item {
        height: auto;
        display: block;
        margin: auto;
    }

    .orderList-number {
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .orderlist-page {
        padding-left: 130px;
    }
}


#login {
    width: 100%;
    padding: 100px 0 70px 0;
    text-align: center;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
}

.loginMain {
    width: 70%;
    display: flex;
    margin: auto;
}


.loginContent {
    width: 50%;
    overflow: hidden;
}

.loginContent>img {
    width: 100%;
    /* height: auto; */
    object-fit: fill;
    /* transform: translateY(-10%); */

}


.loginForm {
    width: 50%;
    border-style: inset;
    border: 2px solid #92d279;
    text-align: center;
    align-items: center;
    padding: 30px 0;
}

.loginForm-P {
    background-color: #005743;
    height: 40px;
    padding: auto;
    font-size: 24px;
}

.loginForm-T {
    color: #000000;
    width: 300px;
    margin: auto;
    font-size: 16px;
    margin-bottom: 30px;

}

.loginForm-D {
    width: 300px;
    margin: 30px auto;
    text-align: center;
}

.loginForm-D>button {
    margin-left: 10px;
}

.loginForm-D>button:first-child {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .loginContent {
        display: none;
    }

    .loginForm {
        width: 85%;
        margin: auto;
    }

}

.passwordForm {
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 120px;
    text-align: flex-start;
}

.passwordForm-T {
    text-align: flex-start;
}

.passwordForm-D {
    text-align: flex-start;
    padding: 20px;
}